[Unit]
Description=Keyboard brightness service
After=dbus.service
StartLimitIntervalSec=30

[Service]
Type=forking
Restart=always
RestartSec=1
User=YOUR_USER
Group=YOUR_USER
ExecStart=/usr/bin/python3 /home/YOUR_USER/PKBrightness/pkbrightness.py
PIDFile=/home/YOUR_USER/.config/pkb/pkb.pid

[Install]
WantedBy=multi-user.target
