[Unit]
Description=Keyboard brightness service
Requires=dbus.socket
Wants=xorg.target
After=syslog.target

[Service]
Type=forking

RestartSec=3
Restart=always

Environment=XAUTHORITY=/home/YOUR_USER/.Xauthority
ExecStart=/usr/bin/python3 /home/YOUR_USER/PKBrightness/pkbrightness.py --config /home/YOUR_USER/.config/pkb/pkb.conf
PIDFile=/home/YOUR_USER/.config/pkb/pkb.pid

StandardOutput=syslog
StandardError=syslog

SyslogIdentifier=pkbrightnessd

[Install]
WantedBy=multi-user.target
